# Data — too large for GitHub
data/

# Model weights
output/*.pth

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Virtual environment
.venv/
venv/
.python-version

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# PyCharm
.idea/

# macOS
.DS_Store

# Anaconda
.conda/
*.conda
